.backpack-container {
  position: absolute;
  z-index: 200;
  top: 93px;
  padding-top: 20px;
  left: 0px;
  right: 0;
  margin: 0 auto;
  margin-right: 90px;
  margin-left: 90px;
  height: 80vh; /* HEIGHT NEEDS BREAKPOINTS */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(36vh, 1fr));
  grid-auto-rows: 40vh;
  grid-column-gap: 1vh;
  overflow: scroll;
  overflow-x: hidden;
}
.backpack-container::-webkit-scrollbar {
  width: 10px;
}
.backpack-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.116);
}
.backpack-container::-webkit-scrollbar-corner {
  visibility: hidden;
}
