.backpack-container {
  position: absolute;
  z-index: 200;
  top: 85px;
  padding-top: 20px;
  left: 0px;
  right: 0;
  margin: 0 auto;
  margin-right: 90px;
  margin-left: 90px;
  height: 80vh; /* HEIGHT NEEDS BREAKPOINTS */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(36vh, 1fr));
  grid-auto-rows: 50vh;
  grid-column-gap: 1vh;
  overflow: scroll;
  overflow-x: hidden;
}
.backpack-container::-webkit-scrollbar {
  width: 10px;
}
.backpack-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.116);
}
.backpack-container::-webkit-scrollbar-corner {
  visibility: hidden;
}

.pokeball-backpack {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 15vh;
  height: 50vh;
  transition: 0.3s ease-in-out;
}

.pokedex-top {
  width: 28vh;
  height: 15vh;
  position: relative;
  top: 8vh;
  transition: 0.3s ease-in-out;
  z-index: 120;
}

.pokedex-bottom {
  position: relative;
  width: 28vh;
  height: 15vh;
  bottom: 8vh;
  pointer-events: none;
  transition: 0.3s ease-in-out;
  z-index: 120;
}

.pokedex-name {
  position: absolute;
  left: 0;
  right: 0;
  margin: 28px auto;
  z-index: 49;
  color: white;
  font-weight: 400;
  font-size: 4vh;
  margin-left: 8vh;
  top: 25vh;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  visibility: hidden;
}

.hologram-bg {
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(41, 241, 232, 1) 0%,
    rgba(41, 200, 241, 0.17690826330532217) 79%
  );
  border: 1px solid cyan;
  width: 26vh;
  height: 28vh;
  top: 90px;
  left: 0.8vh;
  transition: 0.3s ease-in-out;
  z-index: 50;
}

.pokeball-backpack:hover > .pokedex-top {
  transition: 0.3s ease-in-out;
  top: 0vh;
}

.pokeball-backpack:hover > .pokedex-bottom {
  transition: 0.3s ease-in-out;
  bottom: 0vh;
}

.pokeball-backpack:hover > .hologram-bg {
  transition: 0.3s ease-in-out;
  height: 30vh;
  opacity: 0.2;
}

.pokeball-backpack:hover > .pokedex-name {
  transition: 0.3s ease-in-out;
  visibility: visible;
}
