.dashboard-container {
  position: absolute;
  z-index: 108;
  top: 90px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 91%;
  height: 84.2vh;
  overflow: scroll;
  overflow-x: hidden;
}

.dashboard-container::-webkit-scrollbar {
  width: 5px;
}

.dashboard-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.116);
}

.dashboard-container::-webkit-scrollbar-corner {
  visibility: hidden;
}

.scroll-down {
  visibility: hidden;
  position: absolute;
  right: 0;
  z-index: 8;
  width: 50px;
  transform: rotate(90deg);
}

.pokemon-title-tag {
  margin-top: 20px;
  margin-left: 4.5vh;
  padding-bottom: 20px;
  width: 50vh;
  height: auto;

  background-color: rgba(77, 77, 77, 0.199);
}

.pokemon-title-tag h2 {
  border-top: 5px solid;
  width: 100px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-top: 5px;
  padding-top: 10px;
  margin-left: 20px;
  font-size: 30px;
}

.poke-info {
  margin-top: 10px;
}

.pokemon-title-tag p {
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 5px;
  margin-left: 20px;
  font-size: 18px;
}

.stat-container {
  width: 50vh;
  display: flex;
}

.stat-container p {
  padding-right: 20px;
  width: 110%;
  margin: 12px 0;
  letter-spacing: 2px;
}

.stats {
  width: auto;
  height: 25vh;
  text-align: right;
  line-height: 15px;
  color: white;
  position: absolute;
  top: 50vh;
  font-size: 2vh;
}

@media (max-width: 1024px) {
  .stat-container {
    width: 42vh;
  }

  .stats {
    width: 40vh;
    z-index: 200;
  }
}

.pokemon-dash {
  position: absolute;
  z-index: 150;
  width: auto;
  height: 35vh;
  max-height: 35vh;
  top: 10vh;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.turntable {
  position: absolute;
  z-index: 100;
  top: 33vh;
  padding-right: 30px;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: auto;
  height: 45vh;
}

.pokeball-logo {
  position: absolute;
  z-index: 90;
  right: 0;
  left: 0;
  margin: 120px auto;
  user-select: none;
  pointer-events: none;
  animation: logorotate infinite 60s linear;
  animation-direction: normal;
  width: auto;
  height: 60vh;
  filter: drop-shadow(0px 0px 10px initial);
}

@keyframes logorotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pokemon-details {
  border-top: 5px solid;
  position: absolute;
  right: 2vh;
  top: 55vh;
  height: 150px;
  min-height: 120px;
  width: 30%;
  background-color: rgba(107, 107, 107, 0.164);
}

.detail-container {
  margin-top: 20px;
  padding-bottom: 20px;
}

.pokemon-details p {
  margin: 0;
  width: 90%;
  font-size: 2.2vh;
  padding-left: 20px;
  letter-spacing: 2px;
  color: white;
}

@media (max-width: 1024px) {
  .pokemon-details {
    right: 5vh;
    width: 50%;
    z-index: 200;
  }

  .detail-container {
    width: 40vh;
    z-index: 200;
  }

  .pokeball-logo {
    height: 50vh;
  }
}

.bell-stat-flex {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: auto;
  height: 30vh;
}

.bell-stat {
  width: auto;
  height: 29vh;
}

.bell-stat-list {
  position: absolute;
  margin-top: 15px;
  line-height: 20px;
  right: 38vh;
  font-size: 1.7vh;
  color: white;
  text-align: right;
}

.add-pokemon {
  position: absolute;
  color: white;
  top: 125px;
  height: 5vh;
  left: 45%;
  width: 25vh;
  border: 3px solid;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.4vh;
}

.delete-pokemon {
  position: absolute;
  color: white;
  margin-top: 15px;
  top: 175px;
  height: 5vh;
  left: 45%;
  width: 25vh;
  border: 3px solid;
  opacity: 0.6;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.4vh;
}

.add-pokemon:hover {
  filter: brightness(120%);
  background-color: rgba(56, 56, 56, 0.24);
}

.delete-pokemon:hover {
  filter: brightness(120%);
  background-color: rgba(56, 56, 56, 0.24);
}

/* << ================== STATS-PAGE ==================== >> */

.Stat-Page {
  position: relative;
  border-top: 1.2px solid;
  top: 80vh;
  height: 80vh;
}

.Stat-Page p {
  text-transform: uppercase;
  color: white;
  font-size: 5rem;
  margin: 20px;
  text-align: center;
}

.graph-stat {
  width: auto;
  height: 56vh;
}
