.dashboard-container {
  position: absolute;
  z-index: 108;
  top: 90px;
  max-height: 825px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 91.6%;
  height: auto;
  overflow: scroll;
}

.dashboard-container::-webkit-scrollbar {
  width: 10px;
}

.dashboard-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.116);
}

.dashboard-container::-webkit-scrollbar-corner {
  visibility: hidden;
}

.scroll-down {
  position: absolute;
  right: 0;
  z-index: 8;
  width: 50px;
  transform: rotate(90deg);
}

.pokemon-title-tag {
  margin-top: 20px;
  margin-left: 20px;
  padding-bottom: 20px;
  width: 30%;
  height: auto;

  background-color: rgba(77, 77, 77, 0.199);
}

.pokemon-title-tag h2 {
  border-top: 5px solid;
  width: 100px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-top: 5px;
  padding-top: 10px;
  margin-left: 20px;
  font-size: 30px;
}

.poke-info {
  margin-top: 10px;
}

.pokemon-title-tag p {
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 5px;
  margin-left: 20px;
  font-size: 18px;
}

.stat-container {
  width: 400px;
  display: flex;
}

.stat-container p {
  padding-right: 20px;
  width: 110%;
  margin: 12px 0;
  letter-spacing: 2px;
}

.stats {
  text-align: right;
  line-height: 15px;
  color: white;
  position: absolute;
  top: 54vh;
  left: 50px;
  font-size: 1.5rem;
}

.pokemon-dash {
  position: absolute;
  z-index: 150;
  width: auto;
  height: 320px;
  max-height: 400px;
  top: 120px;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.turntable {
  position: absolute;
  z-index: 100;
  top: 340px;
  padding-right: 60px;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: auto;
  height: 400px;
}

.pokeball-logo {
  position: absolute;
  z-index: 90;
  right: 0;
  left: 0;
  margin: 120px auto;
  user-select: none;
  pointer-events: none;
  animation: logorotate infinite 60s linear;
  animation-direction: normal;
  width: auto;
  height: 560px;
  filter: drop-shadow(0px 0px 10px initial);
}

@keyframes logorotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pokemon-details {
  border-top: 5px solid;
  position: absolute;
  right: 20px;
  top: 600px;
  margin-left: 20px;
  height: 150px;
  min-height: 120px;
  width: 30%;
  background-color: rgba(107, 107, 107, 0.164);
}

.detail-container {
  margin-top: 20px;
  padding-bottom: 20px;
}

.pokemon-details p {
  margin: 0;
  width: 90%;
  font-size: 1.4rem;
  padding-left: 20px;
  letter-spacing: 2px;
  color: white;
}

.add-pokemon {
  position: absolute;
  color: white;
  top: 125px;
  height: 50px;
  left: 300px;
  width: 200px;
  border: 3px solid;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}

.add-pokemon:hover {
  filter: brightness(120%);
  background-color: rgba(56, 56, 56, 0.24);
}

/* << ================== STATS-PAGE ==================== >> */

.Stat-Page {
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.404);
  top: 800px;
  height: 83vh;
}

.Stat-Page p {
  text-transform: uppercase;
  color: white;
  font-size: 5rem;
  margin: 0;
  text-align: center;
}
