.home-container {
  position: absolute;
  z-index: 200;
  top: 25px;
  left: 0px;
  right: 0;
  margin: 0 auto;
  width: 91%;
}

.pokemon-scroll {
  position: absolute;
  left: 0px;
  right: 0;
  margin: 3.8% auto;
  width: 98%;
  height: 82vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 40vh;
  grid-column-gap: 1vh;
  overflow: scroll;
  overflow-x: hidden;
}
.pokemon-scroll::-webkit-scrollbar {
  width: 10px;
}
.pokemon-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.116);
}

.pokemon-scroll::-webkit-scrollbar-corner {
  visibility: hidden;
}

.pokemon-name {
  text-transform: uppercase;
  position: absolute;
  color: rgba(255, 255, 255, 0.877);
  font-size: 4vh;
  letter-spacing: 4px;
  font-weight: 400;
  margin-top: 5vh;
  margin-left: 6%;
  text-align: left;
}

.pokemon-type {
  text-transform: uppercase;
  position: absolute;
  color: rgba(255, 255, 255, 0.884);
  font-size: 1rem;
  letter-spacing: 4px;
  font-weight: 400;
  margin-top: 10vh;
  margin-left: 6%;
  text-align: left;
}

.pokemon {
  display: flex;
  margin-top: 11vh;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.poke-frame {
  position: absolute;
  margin: 0;
  margin-top: 30px;
  width: auto;
  height: 36vh;
  background-image: url('../assets/pokemon_frame.svg');
  background-repeat: no-repeat;
  opacity: 0.85;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.poke-frame:hover {
  transition: 0.3s ease-in-out;
  opacity: 0.6;
}

.home-pokemon {
  max-width: 30vh;
  min-height: 22vh;
  max-height: 22vh;
}

.button-flex {
  position: absolute;
  z-index: 800;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 550px;
  display: flex;
  justify-content: space-between;
}

.next {
  position: absolute;
  right: 15px;
  z-index: 800;
  top: 45vh;
  width: auto;
  height: 50px;
  cursor: pointer;
  opacity: 0.5;
}
.prev {
  position: absolute;
  left: 15px;
  z-index: 800;
  width: auto;
  height: 50px;
  opacity: 0.5;
  left: 10px;
  top: 45vh;
  cursor: pointer;
}

.next:hover,
.prev:hover {
  opacity: 1;
}

.prev.disabled {
  opacity: 0;
}
