.home-container {
  position: absolute;
  z-index: 108;
  padding-top: 30px;
  top: 90px;
  max-height: 795px;
  left: 50px;
  right: 0;
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 40px;
  overflow: scroll;
}

.home-container::-webkit-scrollbar {
  visibility: hidden;
}

.home-container::-webkit-scrollbar-corner {
  visibility: hidden;
}

.pokemon-name {
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  letter-spacing: 4px;
  font-weight: 400;
  margin-top: 230px;
  text-align: left;
}

.pokemon {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.poke-frame {
  position: absolute;
  width: 340px;
  height: 340px;
  background-image: url('../assets/pokemon_frame.svg');
  background-repeat: no-repeat;
  opacity: 0.8;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.poke-frame:hover {
  transition: 0.3s ease-in-out;
  opacity: 1;
}

.home-pokemon {
  margin-top: 100px;
  max-width: 280px;
  max-height: 200px;
}

.button-flex {
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  width: 490%;
  display: flex;
  justify-content: space-between;
}

.page-btn {
  width: 150px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgb(0, 204, 255);
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.page-btn:hover {
  transition: 0.2s ease-in-out;
  background-color: rgba(0, 255, 255, 0.219);
}
