.home-container {
  position: absolute;
  position: fixed;
  z-index: 200;
  top: 86px;
  padding-top: 20px;
  left: 0px;
  right: 0;
  margin: 0 auto;
  margin-right: 90px;
  margin-left: 90px;
  height: 100vh; /* HEIGHT NEEDS BREAKPOINTS */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(38vh, 1fr));
  grid-auto-rows: 40vh;
  grid-column-gap: 1vh;
  overflow: scroll;
  overflow-x: hidden;
}

@media (max-width: 1550px) {
  .home-container {
    height: 76vh;
  }
}

@media (max-height: 900px) {
  .home-container {
    height: 78vh;
  }
}

@media (max-height: 850px) {
  .home-container {
    height: 74.5vh;
  }
}

.home-container::-webkit-scrollbar {
  width: 5px;
}

.home-container::-webkit-scrollbar-thumb {
  background-color: rgb(26, 26, 26);
}

.home-container::-webkit-scrollbar-corner {
  visibility: hidden;
}

.pokemon-name {
  text-transform: uppercase;
  position: absolute;
  color: rgba(255, 255, 255, 0.877);
  font-size: 4vh;
  letter-spacing: 4px;
  font-weight: 400;
  margin-top: 10vh;
  margin-left: 6%;
  text-align: left;
}

.pokemon-type {
  text-transform: uppercase;
  position: absolute;
  color: rgba(255, 255, 255, 0.884);
  font-size: 1rem;
  letter-spacing: 4px;
  font-weight: 400;
  margin-top: 14vh;
  margin-left: 6%;
  text-align: left;
}

@media (max-width: 1024px) {
  .home-container {
    height: 74.6vh;
  }
  .pokemon-name {
    margin-left: 13%;
  }
  .pokemon-type {
    margin-left: 13%;
  }
}

@media (max-width: 800px) {
  .pokemon-name {
    margin-left: 10%;
  }
  .pokemon-type {
    margin-left: 10%;
  }
}

.pokemon {
  display: flex;
  margin-top: 16vh;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.poke-frame {
  position: absolute;
  margin: 0;
  margin-top: 30px;
  width: auto;
  height: 36vh;
  background-image: url('../assets/pokemon_frame.svg');
  background-repeat: no-repeat;
  opacity: 0.85;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.poke-frame:hover {
  transition: 0.3s ease-in-out;
  opacity: 0.6;
}

.home-pokemon {
  max-width: 30vh;
  min-height: 22vh;
  max-height: 22vh;
}

.button-flex {
  position: absolute;
  z-index: 800;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 550px;
  display: flex;
  justify-content: space-between;
}

.next {
  position: absolute;
  right: 15px;
  z-index: 800;
  top: 45vh;
  width: auto;
  height: 50px;
  cursor: pointer;
  opacity: 0.5;
}
.prev {
  position: absolute;
  left: 15px;
  z-index: 800;
  width: auto;
  height: 50px;
  opacity: 0.5;
  left: 10px;
  top: 45vh;
  cursor: pointer;
}

.next:hover,
.prev:hover {
  opacity: 1;
}

.prev.disabled {
  opacity: 0;
}
