.home-container {
  position: absolute;
  z-index: 108;
  padding-top: 0px;
  top: 95px;
  left: 0px;
  right: 0;
  margin: 0 auto;
  width: 90%;
  height: 81vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 50px;
  overflow: scroll;
}

.home-container::-webkit-scrollbar {
  width: 10px;
}

.home-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.116);
}

.home-container::-webkit-scrollbar-corner {
  visibility: hidden;
}

.pokemon-name {
  text-transform: uppercase;
  position: absolute;
  color: rgba(255, 255, 255, 0.884);
  font-size: 2rem;
  letter-spacing: 4px;
  font-weight: 400;
  margin-top: 60px;
  text-align: left;
}

.pokemon-type {
  text-transform: uppercase;
  position: absolute;
  color: rgba(255, 255, 255, 0.884);
  font-size: 1rem;
  letter-spacing: 4px;
  font-weight: 400;
  margin-top: 100px;
  text-align: left;
}

.pokemon {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.poke-frame {
  position: absolute;
  margin: 0;
  margin-top: 30px;
  width: auto;
  height: 45%;
  background-image: url('../assets/pokemon_frame.svg');
  background-repeat: no-repeat;
  opacity: 0.8;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.poke-frame:hover {
  transition: 0.3s ease-in-out;
  opacity: 0.6;
}

.home-pokemon {
  margin-top: 150px;
  max-width: 70%;
  min-height: 100px;
  max-height: 200px;
}

.button-flex {
  position: absolute;
  z-index: 800;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 550px;
  display: flex;
  justify-content: space-between;
}

.next {
  position: absolute;
  right: 15px;
  z-index: 800;
  top: 45vh;
  width: auto;
  height: 50px;
  cursor: pointer;
  opacity: 0.5;
}
.prev {
  position: absolute;
  left: 15px;
  z-index: 800;
  width: auto;
  height: 50px;
  opacity: 0.5;
  left: 10px;
  top: 45vh;
  cursor: pointer;
}

.next:hover,
.prev:hover {
  opacity: 1;
}

.prev.disabled {
  opacity: 0;
}
