.Nav {
  position: absolute;
  z-index: 500;
  width: 99.9%;
  display: flex;
  justify-content: center;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  top: 0;
  left: 0;
  padding: 35px 0;
  position: fixed;
}

.links {
  text-decoration: none;
  color: white;
  margin: 0px 50px;
  text-transform: uppercase;
}
