.Nav {
  position: absolute;
  pointer-events: none;
  user-select: none;
  z-index: 500;
  width: 99.9%;
  display: flex;
  justify-content: center;
  color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.212);
  top: 0;
  left: 0;
  padding: 28px 0;
  position: fixed;
}

.title {
  z-index: inherit;
  position: absolute;
  position: fixed;
  color: white;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2rem;
  right: 2vh;
  top: 2vh;
}

.pokemon-logo {
  position: absolute;
  left: 15px;
  top: 22px;
  width: 45px;
  height: auto;
}

.links {
  text-decoration: none;
  color: white;
  margin: 0px 50px;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 2px;
  transition: 0.2s ease-in-out;
  pointer-events: all;
}

.links:hover {
  transition: 0.2s ease-in-out;
  color: cyan;
}

.is-active {
  color: cyan;
  text-shadow: 0px 0px 30px rgba(0, 204, 255, 0.603);
  border-bottom: 2px solid cyan;
}
