.search-container {
  position: absolute;
  width: 93%;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.search-container input {
  width: 300px;
  margin-bottom: 20px;
  padding: 6px;
  border: none;
  background-color: rgba(196, 196, 196, 0.068);
  border: 1px solid rgba(128, 128, 128, 0.493);
  color: white;
}

.search-container input::placeholder {
  color: white;
  text-align: center;
  letter-spacing: 2px;
  opacity: 0.2;
}
