.search-container {
  position: absolute;
  width: 90%;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.search-container input {
  font-size: 1rem;
  width: 30vh;
  margin-bottom: 20px;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.068);
  border: 1.4px solid rgba(255, 255, 255, 0.185);
  color: white;
}

.search-container input::placeholder {
  color: white;
  text-align: center;
  letter-spacing: 3px;
  font-family: 'Teko', sans-serif;
}
