.App-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  color: white;
  z-index: 150;
}

.bg-elements {
  pointer-events: none;
  user-select: none;
}

/* .sidebar-left {
  width: 80px;
  height: 99.8%;
  position: absolute;
  position: fixed;
  z-index: 105;
  top: 0;
  left: 0;
  background: radial-gradient(
    circle,
    rgba(10, 15, 20, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.sidebar-right {
  position: fixed;
  width: 80px;
  height: 99.8%;
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  background: radial-gradient(
    circle,
    rgba(10, 15, 20, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
} */

/* .bar-bottom {
  width: 100%;
  height: 80px;
  position: absolute;
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  background: radial-gradient(
    circle,
    rgba(10, 15, 20, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
} */

.dotted-grid {
  background-image: url('./assets/dotted_grid.svg');
  background-repeat: repeat;
  background-size: 1000px;
  width: 90%;
  height: 100%;
  position: absolute;
  position: fixed;
  z-index: 105;
  top: 100px;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.bg-image {
  background-image: url('./assets/site_bg.png');
  filter: blur(40px);
  opacity: 0.3;
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.blur {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  height: 100%;
  background-color: #030303;
}
